<% content_for :devise_form do %>
  <h2 class="pt-4 mb-8 text-4xl font-bold heading">Log in</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="input-group">
      <%= f.label :phone, class:"label" %>
      <%= f.text_field :phone, autofocus: true, autocomplete: "username", class: "input" %>
    </div>

    <div class="input-group">
      <%= f.label :password, class:"label" %>
      <%= f.password_field :password, autocomplete: "current-password", class: "input" %>
    </div>

    <div class="input-group">
      <%= f.submit "Log in", class: "btn btn-default" %>
    </div>
  <% end %>

  <hr class="mt-6 border" />

  <div class="flex flex-wrap flex-row items-center justify-start">
    <%= link_to "Sign up", new_registration_path('customer'), class: "block py-2 text-gray-700 underline hover:no-underline" %>
    |
    <%= link_to "Forgot password", customers_recovery_flow_path(:mobile_input), class: "block py-2 text-gray-700 underline hover:no-underline" %>
  </div>
<% end %>

<%= render "devise/shared/form_wrap" %>
