<div class="w-full grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4">
  <%= render('kiosk_home/monthly_frequents_stats_count') %>
  <%= render('kiosk_home/monthly_redemptions_stats_count') %>
  <%= render('kiosk_home/monthly_spends_stats_count') %>
</div>
<div class="mt-4 w-full grid grid-cols-1 xl:grid-cols-2 gap-4">
  <%= render "kiosk_home/top_spenders" %>
  <%= render "kiosk_home/weekly_trend" %>
</div>
